# ignore for commits
# ignore libraries
# ignore all object files
# ignore all dep files
*.d
# ignore all dict files
*Dict.cxx
*Dict.h
# ignore executables
*.pyc
# ignore any output form  nohup
*.out
#ignore root files and pdfs etc
*.pdf
*.root
*.jpg
# ignore emacs tmp files
*~
*.txt
# ignore libraries
*.so
# ignore all object files
*.[ao]